@import '../variables.scss';

.section {
  padding: 0 0 5rem 0;
}

.hero {
  background: $green;
  height: 15rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}

.h1 {
  background:black;
  display: inline;
  color: white;
  text-align: center;
  line-height: normal;
  font-weight: normal;
  padding: 0 0.5rem;
}
