@import '../variables.scss';

.heading {
  margin-bottom: 0;
}

.content {
  max-width: 900px;
  margin: auto;
}

.imageParagraph {
  display: flex;
  flex-flow: row nowrap;

  @include mediumMax {
    flex-flow: column nowrap;
  }
}

.aboutImage {
  flex: 1 0 250px;
  margin-right: 1rem;
}
