@import '../variables.scss';

.heading {
  margin-bottom: 0;
}

.content {
  max-width: 900px;
  margin: auto;
}

.imageParagraph {
  display: flex;
  flex-flow: row nowrap;

  @include mediumMax {
    flex-flow: column nowrap;
  }
}

.aboutImage {
  flex: 1 0 250px;
  
  @include small {
    min-height: 300px;
  }
  
  @include medium {
    margin-left: 1rem;
  }
}
