@import '../variables.scss';

.hero {
  height: 11rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background: $green;
}

.preamble {
  font-size: 1.2rem;
  margin-bottom: 0;
}
