@import '../variables.scss';

.hero {
  height: 15rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: $green;

  @include mediumMax {
    padding-top: 2rem;
  }
  
  @include medium {
    flex-flow: row nowrap;
  }
}

.heroText {
  flex: 0 1 auto;
  
  @include medium {
    margin-right: 5rem;
  }
}

.heroImage {
  flex: 1 0 auto;
  
  @include medium {
    flex: 0 1 200px;
  }
}

.heroHeading {
  line-height: normal;
  font-weight: normal;
}

.heroHeadingSpanLeft {
  background: white;
  color: black;
  padding: 0 0.5rem;
}

.heroHeadingSpanRight {
  background: black;
  color: white;
  padding: 0 0.5rem;
}

.preamble {
  font-size: 1.2rem;
  margin-bottom: 0;
  color: white;
}

.content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 5rem 1rem;
  max-width: 900px;
  margin: auto;
}
