// Colors
$darkgray: #2d2a30;
$lightgreen: #5c9ca2;
$green: #207178;
$darkgreen: #0d4044;

// Fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

// Breakpoints
$BpSmall: 544px;
$BpMedium: 767px;
$BpLarge: 971px;
$BpXLarge: 1130px;

@mixin smallMax {
  @media (max-width: #{$BpSmall}) {
    @content;
  }
}

@mixin mediumMax {
  @media (max-width: #{$BpMedium}) {
    @content;
  }
}

@mixin small {
  @media (min-width: #{$BpSmall}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$BpMedium}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$BpLarge}) {
    @content;
  }
}

@mixin xlarge {
  @media (min-width: #{$BpXLarge}) {
    @content;
  }
}
