@import '../variables';
@import '../utilities';

.footer {
  min-height: 150px;
  background: $darkgray;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  color: white;
  position: relative;

  @include small {
    justify-content: center;
  }

  .leftBlock {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    p {
      margin: 1rem 0 0 0;
    }
  }


  a {
    color: white;
  }

  .certificate {
    right: 0;
    min-width: 100px;
    height: auto;
  }
}