@import '../variables.scss';

.header {
    background: $darkgray;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 100px;
    padding: 0 1rem;

    @include mediumMax {
      justify-content: space-between;
    }

    .logo {
        flex: 0 0 200px;

        @include xxlarge {
          margin-right: -200px;
        }
    }

    h1 {
        padding: 0;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: white;
        :visited {
            text-decoration: none;
            color: white;
        }
    }

    button {
      background: none;
      color: white;
      border: none;
      cursor: pointer;
    }
}

.menuIcon {
  font-size: 2rem;
}
